.itemContainer {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  font-family: Polysans, sans-serif;
}
.itemImage {
  height: auto;
  max-width: 100%;
}
.titleContainer {
  text-align: center;
  font-weight: 600;
}
.recipeButton {
  border: none;
  background-color: aqua;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 550;
  font-size: 14px;
  cursor: pointer;
}
.buttonContainer {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
